<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tech.nan.demo.auth.infrastructure.UserRoleMapper">
    
    <resultMap id="UserRoleMap" type="tech.nan.demo.auth.model.DO.UserRoleDO">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="code" property="code" jdbcType="INTEGER"/>
        <result column="role_name" property="roleName" jdbcType="VARCHAR"/>
        <result column="authorities" property="authorities" jdbcType="INTEGER"/>
    </resultMap>

    <select id="selectUserRolesByCode" resultMap="UserRoleMap">
        select id, code, role_name, authorities from user_role where `code` &amp; #{roles} > 0;
    </select>
</mapper>